body {
  margin: 0;
  font-family: 'Mont', sans-serif;
}

@font-face {
  font-family: 'Mont';
  src: url('./assets/fonts/Mont-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Mont';
  src: url('./assets/fonts/Mont-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Mont';
  src: url('./assets/fonts/Mont-Regular.ttf');
  font-weight: normal;
}
